<center>
	<h1>Welcome</h1>
	<form class="form-inline" action="/craigslist" method="GET">
	  <div class="form-group">
	    <input type="text" class="form-control" id="url" name="domain" value="https://newyork.craigslist.org/">
	  </div> 
	  <button type="submit" class="btn btn-primary">SCRAP</button>
	</form>
</center>
